name: 简体中文化

on:
  push:
  schedule:
    - cron: 0 * * * *
  workflow_dispatch:

jobs:
  convert:
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    runs-on: ubuntu-latest
    steps:
      - name: 拉取代码
        uses: actions/checkout@v5
      - name: 安装环境
        uses: actions/setup-python@v6
        with:
          python-version: 3.13
      - name: 安装依赖
        run: |
          pip install -r requirements.txt
      - name: 开始转换
        run: |
          python convert.py